.content section{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 25px;
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
}
.heading h1{
	font-size: 30px;
	color: #484848;
	padding-bottom: 0;
	margin-bottom: 0;
}
section #service-container{
	width: 33%;
	height: 200px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	position: relative;
}
section #services{
	height: 184px;
	overflow: hidden;
	margin-top: 8px;
	transition: height 0.2s, margin-top 0.2s ease-in-out;
}
section img{
	width: 90%;
	opacity: 1.0;
    filter: alpha(opacity=100);
	transition: width 0.2s ease-in-out;
}
section .service-name{
	display: none;
	z-index: 10;
	position: absolute;
	top: 40%;
	bottom: 40%;
	font-size: 200%;
	left: 0;
	width: 100%;
	color: black;
}
section div:hover #services{
	height: 100%;
	margin-top: 0;
}
section div:hover #service-image{
	width: 100%;
	opacity: 0.2;
    filter: alpha(opacity=20);
}
section div:hover .service-name{
	display: block;
}
//@media screen and (min-width:1200px){
//	.content{
//		height: 570px;
//	}
//}